.navbar{
    background-color: blue; /* lets make this the navbar */ 
   padding: 30px;
     
    
}
.header_text{
    float:center;
    font-size:30px

    
}

.header_subtext{
    float:center;
    font-size: 20px;
    
}

.hero-image{
    
    padding:250px;
    
}