body, html{
    height:100%;
}
.container{
    
    align-content: center;
  ;    
}

.navbar_item{
    float: left;
}

.navbar li:hover{
    background-color: #111;
    
}

.navbar a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
    
}

.navbar ul{
    
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    
    
    
}

.navbar_right{
    
    float:right;
}


.hero-image{
    
    background-color: blue;
    height: 100%;
    
    
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: white;
    font-family:sans-serif;
    
    
}


#section1 img{
    display:block;
    
    
}
se

